/* Layout CSS */
header {
    background-color: #00796b;
    color: white;
    padding: 1rem;
}

/* Flexbox layout for navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px; /* Adjust the width of the logo */
    height: auto;
    margin-right: 10px; /* Space between the logo and the text */
}


.logo span {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: black;
}


nav{
    display: flex;
    flex: 1;
    font-size: 2vh;
}


/* space-evenly the navigation links */
nav ul {
    display: flex;
    justify-content: space-evenly; 
    list-style: none;
    flex-grow: 1; /* Allow the ul to grow to take available space */
}

nav li a{
    padding-bottom: 0.8vh;
}

nav li a:hover{
    color: var(--secondary);
    cursor: pointer;
}


.nav-active a{
    border-bottom: 2px solid #FFA000;
    color: var(--secondary);
}



nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding-right: 5%;
    padding-left: 7%;
    background-color: var(--background-color);
}


.footer-bottom{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom img{
    width: 5vh;
    height: 5vh;
    float: left;
}

.footer-bottom span{
    margin-left: 1vh;
    font-size: 2vh;
}



/* Hero Section */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.intro {
    flex: 1;
    padding: 2rem 4rem;
    background-color: white;
    text-align: left;
    max-width: 600px;
    margin: auto;
    padding-top: 4rem;
}

.intro h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: #333;
}

.intro p {
    font-family: 'Merriweather', serif; /* Apply Merriweather font */
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
    line-height: 1.5;
}

/* Hero image aligned to the right */
.index-background {
    flex: 1;
    text-align: right;
}

.index-background img {
    max-width: 60%; /* Make the image responsive */
    height: auto;
    border-radius: 15px; /* Optional: rounded corners */
}




#flexnavbar{
    display: flex; /*turn this element into a flex container */
    flex-flow: row wrap; /* content flows left to right and wraps if needed*/
    justify-content: space-around; /* extra space is added around each element*/
}

/*select all the <a> elements inside my #flexnavbar container*/
#flexnavbar > a{
    flex: 1; /* each element tries to take up an equal amount of space*/
}

@media screen and (min-width: 600px) {
    #flexnavbar {
        justify-content: flex-end; /* justify all items to the end*/
    }

    #flexnavbar > a {
        flex: none; /* elements will not shrink or grow*/
        padding: 3px 10px 3px 10ox; /* add some padding to space things out */
    }
}


#gridcontainer {
    display: grid; /* turn this element into a grid container*/

    /* define the grid structure, and content of cells*/
    grid-template-areas: 
    "head head"
    "nav nav nav"
    "main main main"
    "foot foot foot";
}






